 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  background-image: url(' icons/article_cover.jpg');
  --color: #6d060d;
}

body {
  /* background-color: var(--color); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  gap: 10px;
}

section {
  background-color: #e8e8e8;
  border-radius: 7px;
}

.tools-board {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drawing-board {
  width: 100%;
}
canvas {
  width: 100%;
  height: 100%;
}

.box-title {
  font-size: 1.1em;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.option img {
  height: 15px;
  width: 15px;
}

ul li {
  margin: 7px 0;
}

.option:hover {
  color: var(--color);
  font-weight: bold;
  cursor: pointer;
}

.colors .options {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-left: 0;
}

.colors li {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.colors li:nth-child(1) {
  background-color: #000;
}

.colors li:nth-child(2) {
  background-color: red;
}

.colors li:nth-child(3) {
  background-color: blue;
}

.colors li:nth-child(4) {
  background-color: green;
}

.colors li:nth-child(5) {
  background-color: yellow;
}

.tool.active {
  color: var(--color);
  font-weight: bold;
}

li.selected {
  border: 4px solid #fff;
  outline: 2px solid rgb(212, 15, 15);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#save {
  background-color: var(--color);
  color: #ffffff;
  border: none;
}

.credits {
  color: #10d6bf;
}
